name: Build and Push to Docker Hub

on:
  push:
    branches: [ "master", "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Using the roll number as the repository name to ensure portal discovery
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/24f2000013:24f2000013, ${{ secrets.DOCKERHUB_USERNAME }}/24f2000013:latest
